.b-news-category {margin-bottom:20px}
.b-news-category .ui-corner-left {border-bottom-left-radius:0}
.b-news-category .ui-corner-right {border-top-right-radius:0;}
.b-news-category .ui-button {margin-right:0}
.b-news-category a {font-size:12px; width:200px}

/* News */
.b-news-list .item {margin:-5px 0 30px -5px; padding:5px; overflow: hidden;}
.b-news-list .date {clear:both; font:14px "Times New Roman"; color:gray; margin:6px 0}
.b-news-list h3 {margin:0; padding:0; text-shadow:none; font:16px/18px 'Times New Roman',Arial,sans-serif}
.b-news-list h3:first-letter {text-transform:uppercase}
.b-news-list h3 a {margin:0 10px 0 0; color: #c96500; text-decoration: underline; }
.b-news-list .text {font:14px 'Times New Roman',Arial,sans-serif; line-height: 1.6em; margin-top:10px; color:#000; cursor: default}
.b-news-list .more {font:14px "Times New Roman", Arial, Helvetica, sans-serif; text-align:right; margin:3px 0 0 0}
.b-news-list .photo {margin:6px 6px 0 0; float:left}
.b-news-list .photo img {width:100px}

#content .breadcrumb { background-color: #fee4b3; }
#content .breadcrumb li a { color: #000; }
#content .breadcrumb li:before { color: #efac69; }


.b-news-single .archive {margin:20px 0; clear:left}
.b-news-single .archive a { color: #000; }
.b-news-single .photo {margin:0 0 20px 0}
.b-news-single .print {float:right; width:13px; height:13px; display:block; margin:-2px 0 0 0}
.b-news-single .text {font:14px 'Times New Roman',Arial,sans-serif; line-height: 1.6em; margin-top:10px; color:#000; cursor: default}

.b-news-single {position:relative}
.b-news-single .date {clear:both; font:14px "Times New Roman"; color:gray; margin:6px 0}
.b-news-single .prev, .b-news-single .next {position:absolute; top:-40px; display:none}
.b-news-single .prev a:link, .b-news-single .prev a:visited, .b-news-single .next a:link, .b-news-single .next a:visited {background-image:url(/gfx/arrowSprite.png); text-decoration:none; display: block; width: 20px; height: 26px;}
.b-news-single .prev {left:-40px}
.b-news-single .prev a {background-position:0 0}
.b-news-single .prev a:hover {background-position:0 -26px}
.b-news-single .next {left:615px}
.b-news-single .next a {background-position:-20px 0}
.b-news-single .next a:hover {background-position:-20px -26px}