/* Comments */
.b-comment-tag {border-top:1px solid #ddd; color:#000; font:18px "Times New Roman",times,serif; margin-bottom:10px; padding:10px 0 0}
.b-comment-tag a:link, .b-comment-tag a:visited, .b-comment-tag a:hover {border-bottom:1px dashed; text-decoration:none; color: #000;}

.b-comment-widget .blankFormLink {display:none; margin: 0 0 20px 0;}
.b-comment-widget .error {color:red; font-style:italic}

.b-comment-form .user {font-size:16px; line-height:150%}
.b-comment-form {background: #fee4b3; padding: 10px 20px 10px 20px; border-radius: 5px;}
.b-comment-form legend { border-bottom: 1px solid #efac69; }
.b-comment-form .captcha {display:inline-block;}
.b-comment-form .captcha img {margin-right:5px; height:30px}
.b-comment-form .captcha a:link, .b-comment-form .captcha a:visited {text-decoration:none; border-bottom:1px dashed}
.b-comment-form .captcha a:hover {border-bottom:0}
.b-comment-form .commentator_name {margin-top:5px}

.b-comment-list {margin-bottom:40px}
.b-comment-list .item {padding:8px 0; margin:0; overflow:hidden; }
.b-comment-list .item-body {background:#fee4b3; padding:10px; border-radius: 5px;}
.b-comment-list .hdr {display:inline; margin-bottom:10px}
.b-comment-list .txt-body {min-width:310px}
.b-comment-list .registered {color:red}
.b-comment-list .title {font-weight:700}
.b-comment-list .date {font:12px "Times New Roman", Arial, Verdana, sans-serif; color:#999; margin:0 0 5px 0; display:inline-block; float:none}
.b-comment-list .tools {float:right;}
.b-comment-list .tools a.delete-comment {color: #000; background-color: #DDD;}
.b-comment-list .author {display:inline-block; font-size:14px; background-color: #efac69;}
.b-comment-list .author a, .b-comment-list .author a:visited, .b-comment-list .author a:link, .b-comment-list .author a:visited {
  border-bottom: 1px solid;
}
.b-comment-list .minimize { margin-right: 5px; background-color: #efac69; color: #fff; } 
.b-comment-list .add-comment {background-color: #efac69; color: #fff; } 
.b-comment-list .author a:hover{border-bottom:none}
.b-comment-list .txt {line-height:130%}
.b-comment-list ul ul {padding:0 0 0 75px}
.b-comment-list li.unWatch{background:#eee; padding:10px 0; border:1px solid #ccc}
.b-comment-list .repl {display:none; float:left; margin:-21px 0 0 15px; width:11px; height:11px}

/* Изначальное сворачивание комментариев
.b-comment-list, #addCommentDialog-commentsUID {display:none}
*/