.b-faq .ask-form {margin-bottom:40px; width: 99%; }
.b-faq .ask-form legend {margin-bottom:0}
.b-faq input { max-width: 300px; }
.b-faq textarea { min-height: 100px; max-width: 697px; max-height: 300px; }
.b-faq .item {margin-bottom:30px; max-width: 697px; }
.b-faq .item .name {font-size:16px; margin-top:10px}
.b-faq .item .ask {margin-top:10px; overflow:hidden}
.b-faq .item .expend {margin-top:5px}

.b-faq .item .ask {
    background-color: #fff;
    border: 1px solid #e4d1a6;
    border-radius: 5px 5px 0 0;
    clear: both;
    padding: 10px 15px;
}
.b-faq .item .name {
    float: left;
    font-size: 14px;
    margin: 6px 0 0;
    font-weight: 700;
    padding: 0 0 2px;
}
.b-faq .item .date {
    color: #fff;
    float: right;
    font-size: 14px;
}
.b-faq .item .ans {
    background-color: #f7eac5;
    font-size: 14px;
    font-weight: 700;
    border: 1px solid #efac69;
    border-radius: 0 0 5px 5px;
    border-top: none;
    padding: 10px 15px;
}