/* Page Switcher */
/*
.cPageSw {margin: 15px 0; padding: 10px 0; font: 12px Verdana, Arial, Helvetica, sans-serif; overflow:hidden}
.cPageSw ul {list-style:none; padding:0; margin:0}
.cPageSw li {float:left; margin:0 5px 0 0}
.cPageSw a,.cPageSw a:visited, .cPageSw a:link {-moz-border-radius:5px; border-radius:5px; background-color:#DDDDDD; border-color:1px solid #EEEEEE; color:#666666 !important; font-size:20px; padding:3px 10px; text-decoration:none;}
.cPageSw a:hover {text-decoration: none !important; background: #666; color: #fff !important;}
.cPageSw b {padding: 2px 10px; font: bold 20px Verdana, Arial, Helvetica, sans-serif; color:#000}
.cPageSw i {font-style:normal}
*/
.yiiPager { background-color: #333; }