.b-vitrine .item {background:#999; overflow:hidden; height:380px}
.b-vitrine .glyphicon {color: #efac69;}
.b-vitrine .title a:link, .b-vitrine .title a:visited {color:#fff}
.b-vitrine .text {margin-bottom:10px}
.b-vitrine .carousel-control { width: 4%; line-height: 380px; font-size: 27px; color: #ffcd9a;}