@charset "UTF-8";

@font-face {
  font-family: "icons";
  src:url("../fonts/icons.eot");
  src:url("../fonts/icons.eot?#iefix") format("embedded-opentype"),
    url("../fonts/icons.woff") format("woff"),
    url("../fonts/icons.ttf") format("truetype"),
    url("../fonts/icons.svg#icons") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "icons" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "icons" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-letter-mail:before {
  content: "a";
}
.icon-photo:before {
  content: "b";
}
.icon-list:before {
  content: "c";
}
.icon-iphone-home:before {
  content: "d";
}
.icon-call-phone-outline:before {
  content: "g";
}
.icon-right-open:before {
  content: "h";
}
.icon-left-open:before {
  content: "i";
}
.icon-right:before {
  content: "e";
}
.icon-left-circle:before {
  content: "f";
}


span.icon-letter-mail {
vertical-align: middle;
display: block;
float: left;
margin-right: 5px;
margin-top: 3px;
}