html, body {
    height: 100%;
    width: 100%;
}

body {
    background-repeat: repeat-x;
    background-position: fixed center center;
    background-color: #a470d2;
    background-image: url(/themes/business/gfx/bg.jpg);
    padding: 0;
    font-family: "Times New Roman";
}

body.printPage {
    text-align: left
}

body.printPage h1 {
    margin: 15px
}

#yii-debug-toolbar-swither {
    top: 50px
}

#yii-debug-toolbar-swither .close {
    opacity: 1
}

/****************************************/
#wrap {
    border: none;
    height: auto !important;
    margin: 0 auto 125px auto;
    min-height: 100%;
    position: relative;
}

#sidebarLeft img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}

#main {
    clear: both;
    padding: 0 0 85px;
}

#head {
    height: 195px; /*padding: 35px 23px 23px 35px;*/
    position: relative;
    overflow: hidden;
}

#head .logo {
    margin-top: 34px;
    overflow: hidden;
}

#head .logo img {
    border: 0 none;
}

#head .cname {
    color: #d11027;
    font: 700 36px "Times New Roman";
    margin-top: 32px;
    text-shadow: -1px 0px white, 0px -1px white, 1px 0px white, 0px 1px white, -1px -1px white, 1px 1px white, -1px 1px white, 1px -1px white;
}

#head .cname p {
    color: #d11027;
    font: 700 24px 'Times New Roman';
    margin-top: 3px;
    padding: 0;
}

#head .b-vk-widget {
    float: right;
}

#head .vk-widget {
    width: 70px;
    height: 23px;
}

#head .tright {
    font-size: 18px;
    margin-top: 31px;
    overflow: hidden;
    color: #fff5ee;
}

#head .tright .adress {
    margin-bottom: 18px;
}

#head .tright .adress .glyphicon.glyphicon-envelope {
    vertical-align: sub;
}

#head .tright .numbers {
    font-family: "Times New Roman";
    margin-bottom: 10px;
    line-height: 1.7;
}

#head .tright .numbers .glyphicon.glyphicon-earphone {
    vertical-align: middle;
}

#footer {
    padding: 20px 0;
    height: 85px;
    margin: -125px auto 0;
    position: relative;
    color: #fff5ee;
}

#footer .logo img {
    width: 100px;
    float: left;
    margin-right: 15px;
    margin-left: 15px;
}

#footer .cname {
    font-size: 20px;
}

#footer .cname p {
    font-family: "Times New Roman";
    font-size: 14px;
}

#footer .vcard {
    line-height: 2.2;
}

#cvek {
    width: 82px;
    height: 24px;
    overflow: hidden;
    margin-left: 5.3em;
}

#cvek a, #cvek a:link, #cvek a:visited {
    background-image: url(/themes/business/gfx/cvek_logo.png);
    background-repeat: no-repeat;
    background-position: 0 0;
    text-indent: -500px;
    display: block;
    overflow: hidden;
    width: 82px;
    height: 24px;
    transition-property: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
}

#cvek a:hover {
    background-position: 0 -26px
}

#text_body {

}

#container {
}

#content .breadcrumb {
    background-color: #fee4b3;
}

#content .breadcrumb li a {
    color: #000;
}

#content .breadcrumb li:before {
    color: #efac69;
}

.b-menu-content-list .item a {
    color: #000;
}

.b-menu-content-list .item a:hover {
    background-color: #ffe5b4;
}

#main {
    background-color: #fff5ee;
    padding: 20px 15px;
    min-height: 470px;
}

.block .inside {
    padding: 10px 25px 0;
}

table.table0 td p, table.table1 td p, table.table2 td p {
    margin: 0;
    padding: 0;
}

table.table0 {
    border-collapse: collapse;
}

table.table0 td {
    border: medium none;
    padding: 5px;
}

table.table1 {
    border-collapse: collapse;
}

table.table1 td {
    border: 1px solid #CCCCCC;
    padding: 5px;
}

table.table2 {
    border-collapse: collapse;
}

table.table2 td {
    border: 1px solid #CCCCCC;
    padding: 5px;
}

table.table2 th {
    background: none repeat scroll 0 0 #FF7B12;
    border: 1px solid #FFFFFF;
    color: #111111;
    padding: 8px 5px;
    text-align: center;
}

table.table3 {
    border-collapse: collapse;
}

table.table3 td {
    border: 1px solid #CCCCCC;
    padding: 1px;
    text-align: center;
    width: 8px;
}

table.table3 td.name {
    border: 1px solid #CCCCCC;
    padding: 1px 1px 1px 5px;
    text-align: left;
    width: 8px;
}

table.table3 th {
    background: none repeat scroll 0 0 #3863BA;
    border: 1px solid #FFFFFF;
    color: #FFFFFF;
    padding: 1px;
    text-align: center;
}

table.table1 tr:hover, table.table2 tr:hover, table.table3 tr:hover {
    background: none repeat scroll 0 0 #EEEEEE;
}

/* Виджет меню слева */
.b-menu-side-list {
    padding: 0 0;
    position: relative;
    border: 1px solid #efac69;
    background-color: #fee4b3;
    margin-bottom: 20px;
}

.b-menu-side-list ul {
    list-style: none;
}

.b-menu-side-list li {
    font-size: 18px;
    border-bottom: 1px solid #efac69;
}

.b-menu-side-list .nav-list li a {
    padding: 5px 10px;
    color: #000;
}

.b-menu-side-list .nav-list li:last-child {
    border-bottom: none;
}

.b-menu-side-list .nav-list li a:hover {
    background-color: #efac69;
}

.b-menu-side-list .nav-list .nav-list li a {
    padding: 8px 15px
}

.b-menu-side-list .nav-list .nav-list .nav-list li a {
    padding: 6px 15px
}

.b-menu-side-list li li {
    font-size: 16px;
}

.b-menu-side-list .nav-list .nav-list > .active > a {
    background: none;
    color: #000
}

.b-menu-side-list li li li {
    font-size: 14px;
}

.b-menu-side-list .nav-list .nav-list .nav-list > .active > a {
    background: none;
    font-weight: 700;
    color: #000
}

.b-menu-side-list .nav-list.sub-item-list {
    background-color: #ffcc99;
    border-top: 1px solid #efac69;
    display: none;
}

.b-menu-top {
    padding: 0 0 0 15px;
    background-color: #ffe5b4;
    background-image: -moz-linear-gradient(top, #ffe5b4, #ffcc99);
    background-image: -ms-linear-gradient(top, #ffe5b4, #ffcc99);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffe5b4), to(#ffcc99));
    background-image: -webkit-linear-gradient(top, #ffe5b4, #ffcc99);
    background-image: -o-linear-gradient(top, #ffe5b4, #ffcc99);
    background-image: linear-gradient(top, #ffe5b4, #ffcc99);
    background-repeat: repeat-x;
    border: 1px solid #efac69;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ffe5b4', endColorstr='#ffcc99', GradientType=0);
    margin-bottom: 0px;
    overflow: inherit;
}

.b-menu-top li {
    /*margin-right: 89px;*/
    margin-right: 45px;
}

.b-menu-top li:last-child {
    margin-right: 0;
}

.b-menu-top li a {
    font-size: 18px;
    color: #000;
    margin-top: 1px;
}

.b-menu-top li a:hover {
    background-color: #efac69;
}

.b-menu-top li.active a {
    background-color: #efac69;
}

.b-menu-top li.active a:hover {
    background-color: #ffe5b4;
    color: #333;
}

.b-menu-top .nav-collapse:after {
    clear: both;
    content: "";
    display: table;
    line-height: 0;
}

.b-menu-top .pull-right {
    margin-top: 4px;
    margin-bottom: 0
}

.wShare {
    margin: 0
}

.wShare td {
    text-align: left;
}

.b-ajax-process {
    background: url(/engine/admin/gfx/loading_s.gif) no-repeat 0 0;
    display: inline-block;
    visibility: hidden;
    width: 16px;
    height: 16px;
    line-height: 16px;
    vertical-align: text-top;
}

.b-ajax-process-active {
    visibility: visible;
}

.pagination {
    margin-top: 0;
    margin-bottom: 30px;
}

.pagination .yiiPager {
    list-style: none;
    display: inline;
}

.pagination .yiiPager li {
    float: left;
}

.pagination .yiiPager li a {
    color: #efac69;
    padding: 5px 10px;
    background-color: #fff;
    border: 1px solid #efac69;
    border-left: none;
    font-size: 12px;
}

.pagination .yiiPager li a:hover {
    background-color: #ffe5b4;
    text-decoration: none;
}

.pagination .yiiPager li:first-child a {
    border-radius: 3px 0 0 3px;
    border-left: 1px solid #efac69;
}

.pagination .yiiPager li:last-child a {
    border-radius: 0 3px 3px 0;
}

.pagination .b-ajax-process {
    margin-left: 20px;
    margin-top: -15px
}

/* let's roll */
.glyphout {
    padding-left: 22px;
}

#head .b-searchform {
    display: inline-block;
}

#head .b-searchform .form-group input {
    width: 225px;
    height: 24px;
}

#head .b-searchform button {
    height: 24px;
}

#head .b-searchform .b-search-input {
    border-radius: 0;
    border: 1px solid #efac69;
    border-right-style: dotted;
    padding: 0 5px;
}

#head .b-searchform .b-search-btn {
    line-height: 1;
    font-size: 11px;
    border-radius: 0;
    border: 1px solid #efac69;
    border-left: none;
    margin-left: -4px;
    -webkit-transition: 0.2s ease;
    -o-transition: 0.2s ease;
    transition: 0.2s ease;
}

#head .b-searchform .b-search-btn:hover {
    background-color: #ffe5b4;
    color: #efac69
}

.page-header {
    border: none;
    margin: 0;
}

.page-header h1 {
    margin-top: 0;
    padding: 0;
    font-size: 24px;
}

.b-widget {
    background-color: #fee4b3;
    border: 1px solid #efac69;
    margin-bottom: 20px;
}

.b-widget-header {
    text-align: center;
    font-size: 18px;
    margin: 5px 0;
}

.b-widget-header a {
    color: #000;
}

.b-widget-header a:hover {
    color: #000;
    text-decoration: none;
}

.b-widget-content {
    padding: 0 1px;
    text-align: center;
}

.b-widget-control {
    margin-top: 3px;
}

.b-button-widget {
    padding: 5px 0 8px 5px;
    background-color: #ffe5b4;
    background-image: -moz-linear-gradient(top, #ffe5b4, #ffcc99);
    background-image: -ms-linear-gradient(top, #ffe5b4, #ffcc99);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffe5b4), to(#ffcc99));
    background-image: -webkit-linear-gradient(top, #ffe5b4, #ffcc99);
    background-image: -o-linear-gradient(top, #ffe5b4, #ffcc99);
    background-image: linear-gradient(top, #ffe5b4, #ffcc99);
    background-repeat: repeat-x;
    border: 1px solid #efac69;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ffe5b4', endColorstr='#ffcc99', GradientType=0);
    margin-bottom: 20px;
    overflow: inherit;
}

.b-button-widget:hover {
    background-color: #efac69;
    background-image: none;
}

.b-button-widget:hover .b-button-widget-icon {
    color: #ffe5b4;
}

.b-button-widget-icon {
    color: #efac69;
    padding-right: 7px;
    display: block;
    font-size: 24px;
    vertical-align: top;
    float: left;
    margin-top: 3px;
}

.b-button-widget-btn {
    display: block;
    width: 100%;
    color: #000;
    font-size: 18px;
    line-height: 25px;
}

.b-button-widget-btn:hover {
    color: #000;
    text-decoration: none;
}

.b-carousel-title {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
}

.booksCarousel {
    border: 1px solid #efac69;
    background-color: #ffe5b4;
    width: 540px;
    height: 215px;
    overflow: hidden;
    padding: 15px;
}

.booksCarousel .b-carousel-itemlink {
    text-align: center;
    display: block;
}

.booksCarousel .b-carousel-itemlink img {
    display: inline-block;
}

.booksCarousel .b-carousel-itemlink .title {
    clear: both;
    display: block;
}

.booksCarousel .b-carousel-itemlink .title:before {
    content: "«";
}

.booksCarousel .b-carousel-itemlink .title:after {
    content: "»";
}

.booksCarousel .b-carousel-itemlink {
    color: #eca053;
}

.booksCarousel .b-carousel-item-container {
    text-align: center;
    overflow: hidden;
    float: left;
}

.booksCarousel .slick-prev {
    left: 7px;
}

.booksCarousel .slick-next {
    right: 7px;
}

.b-feedback-widget .b-button-widget {
    width: 255px;
    text-align: left;
    line-height: 27px;
}

.b-feedback-widget span {
    color: #efac69;
}

.b-book-archive-list ul {
    list-style: none;
}

.b-book-archive-list ul li {
    margin: 15px 0 15px;
}

.b-book-archive-list ul li b {
    margin-left: 10px;
}

.b-book-archive-list ul li a:hover {
    text-decoration: none;
}

.b-book-title {
    font-weight: 700;
    font-size: 14pt;
    font-family: "Appetite New", "Times New Roman";
    padding-left: 10px;
    color: #C10000;
}

.b-book-author {
    font-weight: 700;
    font-size: 14pt;
    font-family: "Appetite New", "Times New Roman";
    padding-left: 10px;
    color: #C10000;
}

.b-book-biblio {
    font: 700 10pt "Times New Roman";
    padding-left: 10px;
}

.b-book-description {
    margin: 2em 0;
    font-weight: normal;
    font-size: 12pt;
    font-family: "Appetite New", "Times New Roman";
    padding-left: 10px;
}

.b-about-us {
    margin-bottom: 25px;
}

.b-about-us p {
    font-family: "Times New Roman";
    font-size: 16px;
    line-height: 1.4;
}

#metrika {
    float: right;
    margin-top: 15px;
    margin-right: 15px;
}

#sputnik {
    float: right;
    margin: 10px 15px 0px 0px;
}

.b-official-documents a *,
.b-official-documents a {
    color: #0000ff !important;
    font-family: "Times New Roman";
    font-size: 14px;
}

.b-news-single img {
    max-width: 100%;
    height: auto;
}

.b-news-single ul li {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 13px;
}

.b-book-cover img {
    max-width: 300px;
}

.b-cookie-window {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 15px;
    background: url(/themes/business/gfx/ff.gif) repeat 0 0;
    box-shadow: -1px 3px 8px 0px #3d3e5d7a;
}

.b-cookie-window .text {
    width: 89%;
    display: inline-block;
    vertical-align: top;
}

.b-cookie-window .cookie-btn {
    float: right;
    color: #fff;
    text-shadow: -1px -1px 1px #0d88c7;
    background-color: #0d88c7;
    border: 0;
    border-radius: 5px;
    padding: 5px 10px;
}

.b-cookie-window .cookie-btn:hover, .b-cookie-window .cookie-btn:focus {
    color: #fff;
    background-color: #0075ad;
}

.b-cookie-window .container {
    max-width: 1170px;
}

.cContent ul li {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 13px;
}

.quiz {
    padding: 10px 0;
}

.question {
    cursor: pointer;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #efac69;
    font-weight: 700;
    overflow: hidden;
}

.question .text {
    float: left;
    width: 85%;
    font-size: 20px;
    color: #c96500;
}

.question .up, .question .down {
    float: right;
}

.question .up, .answer {
    display: none;
}

.answer, .answer * {
    font-family: sans-serif;
    font-size: 14px;
    line-height: 1.55;
}

@media screen and (max-width: 1199px) {
    #head {
        height: 225px;
    }

    .js-blind-selector {
        right: 0 !important;
    }
}

@media screen and (max-width: 768px) {
    #head .tright {
        display: none;
    }

    #head .b-searchform {
        display: none;
    }

    .b-cookie-window .text {
        width: 100%;
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 480px) {
    .js-blind-selector {
        right: 0;
    }

    #head .logo img {
        max-width: 100%;
    }

    #head .cname {
        font-size: 24px;
    }
}
