/*Все стили пишем через .blind-version
* Шрифты через .blind-font-up, .blind-font-down и т.д.
*/
/*Fonts*/

.blind-version #head .cname {
    font-size: 30px !important;
}
.blind-font-up #head .cname {
    font-size: 31px !important;
}
.blind-font-up-1 #head .cname {
    font-size: 33px !important;
}
.blind-font-down #head .cname {
    font-size: 28px !important;
}
.blind-font-down-1 #head .cname {
    font-size: 27px !important;
}

.blind-version #head .cname p {
    font-size: 27px!important;
}
.blind-font-up #head .cname p {
    font-size: 28px!important;
}
.blind-font-up-1 #head .cname p {
    font-size: 30px!important;
}
.blind-font-down #head .cname p {
    font-size: 24px!important;
}
.blind-font-down-1 #head .cname p {
    font-size: 23px!important;
}

.blind-version h3, .blind-version h3 a {
    font-size: 27px!important;
}
.blind-font-up h3, .blind-font-up h3 a {
    font-size: 29px!important;
}
.blind-font-up-1 h3, .blind-font-up-1 h3 a {
    font-size: 32px!important;
}
.blind-font-down h3, .blind-font-down h3 a {
    font-size: 25px!important;
}
.blind-font-down-1 h3, .blind-font-down-1 h3 a {
    font-size: 24px!important;
}

.blind-version h1, .blind-version h1 a {
    font-size: 29px!important;
}
.blind-font-up h1, .blind-font-up h1 a {
    font-size: 30px!important;
}
.blind-font-up-1 h1, .blind-font-up-1 h1 a {
    font-size: 34px!important;
}
.blind-font-down h1, .blind-font-down h1 a {
    font-size: 27px!important;
}
.blind-font-down-1 h1, .blind-font-down-1 h1 a {
    font-size: 26px!important;
}
/*
*/

body.blind-version {
    background-image: none;
}

.blind-version #head .cname {
    text-shadow: none;
    padding-left: 6px;
    line-height: 35px;
}

.blind-version #head .b-searchform {
    float: right;
}

.blind-version #head .b-searchform form {
    padding-left: 7px;
}

.blind-version #head .b-searchform .form-group input {
    height: auto;
    padding-top: 6px;
    padding-bottom: 7px;
}

.blind-version #head .b-searchform button {
    height: auto;
}

.blind-version .b-menu-top li {
    margin-right: 40px;
}

.blind-version #main {
    padding-left: 0;
    padding-right: 0;
}

.blind-version #container {
    display: flex;
    flex-direction: column;
}

.blind-version #content {
    order: 1;
    margin-left: 15px;
}

.blind-version #sidebarLeft {
    order: 2;
    margin-left: 15px;
}

.blind-version #sidebarRight {
    order: 3;
    margin-left: 15px;
}

.blind-version .page-header {
    text-align: center;
}

.blind-version .slick-prev:before, .blind-version .slick-next:before {
    display: none;
}

.blind-version .slick-prev:after {
    content: '⬅';
    display: inline-block;
    font-size: 150%;
}

.blind-version .slick-next:after {
    content: '⬅';
    display: inline-block;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
    font-size: 150%;
}

.blind-version li a, .blind-version a {
    text-decoration: underline !important;
}

.blind-version a:hover {
    text-decoration: none !important;
}

.blind-version .b-menu-side-list li li {
    padding-left: 20px;
}

.blind-version .cContent {
    margin-bottom: 50px;
}

.blind-version .cContent table td p {
    padding-left: 10px;
    padding-right: 10px;
}

.blind-version h1{
    margin-top: 25px;
}

.blind-version h3 {
    margin-top: 16px;
    margin-bottom: 16px;
}

.blind-version .b-menu-top form {
    right: 31px;
}

.blind-version .b-menu-top form > div {
    width: 95%;
}

.blind-version .b-menu-top .form-control {
    height: auto;
    min-height: 37px;
}

.blind-version .feedback-widget-captcha__help {
    float: right;
    padding: 10px 34px 15px;
    width: 410px;
}

.blind-version .b-news-list .item {
    margin-bottom: 57px;
}

.blind-version .b-news-list .more {
    text-align: left;
    margin-top: 14px;
    text-decoration: underline;
}

.blind-version .pagination li {
    display: inline;
}

.blind-version .pagination ul {
    padding-left: 0;
}

.blind-version.img_none .cContent iframe {
    display: none;
}

.blind-version .b-comment-form {
    padding: 0;
}

.blind-version #footer .logo {

}

.blind-version #cvek {
    width: auto;
    height: auto;
    margin-left: 0;
}

.blind-version #cvek a, .blind-version #cvek a:link, .blind-version #cvek a:visited {
    text-indent: inherit;
    width: auto;
    height: auto;
}

.blind-version #content > ymaps {
    display: none !important;
}

/*.blind-version #content > ymaps {
    background-color: transparent !important;
    margin-bottom: 50px;
}*/

/*.blind-version .ymaps-2-1-62-map ymaps, .blind-version .ymaps-2-1-62-map ymaps:after, .blind-version .ymaps-2-1-62-map ymaps:before {
    background-image: inherit !important;
}*/

.blind-version.modal.in .modal-dialog {
    padding-top: 55px;
}

.blind-version .cContent > table {
    word-wrap: break-word;
}

.blind-version .booksCarousel {
    width: 700px;
    height: auto;
}

.blind-version #head .logo {
    width: auto;
    margin-top: 8px;
}

.blind-version #head .tright {
    float: right;
}

.blind-version .b-vitrine .item {
    height: auto;
}

.blind-version .b-comment-widget fieldset {
    margin-top: 35px;
}

.blind-version .b-comment-widget legend {
    font-size: 130% !important;
}

.blind-version .b-comment-widget fieldset label {
    width: 30%;
}

.blind-version .b-comment-widget .form-group .col-md-10.col-md-offset-3 {
    margin-left: 30%;
}

.blind-version.img_none .icon-right-open {
    display: none;
}